.difficulty {
  position: relative;

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    border-radius: 5px;
    padding: 8px 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    height: 45px;
    margin-bottom: 2rem;
    cursor: pointer;

    p {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      background: #fff;
      transition: all 0.3s ease;
      padding: 0 0.5rem;
      font-size: 0.9rem;
    }

    i {
      transition: all 0.3s ease;
    }
  }

  .options {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 5px #000;
    border-radius: 5px;
    width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 0;
    top: 2.8rem;
    transform: scale(0);
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;

    .option {
      cursor: pointer;
      text-transform: capitalize;
      padding: 0.5rem;
      font-size: 0.9rem;
      letter-spacing: 1px;
      color: #393e46;
      border-bottom: 1px solid #ccc;
      transition: all 0.3s ease;
    }

    .option:last-child {
      border-bottom: none;
    }

    .option:hover {
      padding-left: 0.7rem;
    }
  }
}
