@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

@import '../pages/Select/select';
@import '../pages/Questions/questions';
@import '../pages/Score/score';

@import '../components/Field/field';
@import '../components/Number/number';

:root {
  --primary-color: #4285f4;
}

.error {
  background-image: url('../img/error.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    width: 350px;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      letter-spacing: 1px;
      color: red;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .again {
      background: gold;
      color: #000;
      border-radius: 5px;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 1rem;
      cursor: pointer;
      text-transform: capitalize;
    }

    .again:hover {
      background: rgb(151, 129, 0);
      transition: background 0.3s ease;
    }
  }
}
