@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

@import '../pages/Select/select';
@import '../pages/Questions/questions';
@import '../pages/Score/score';

@import '../components/Field/field';
@import '../components/Number/number';

:root {
  --primary-color: #4285f4;
}
