@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

@import '../pages/Select/select';
@import '../pages/Questions/questions';
@import '../pages/Score/score';

@import '../components/Field/field';
@import '../components/Number/number';

:root {
  --blue: #4285f4;
  --white: #fff;
  --dark: #222831;
  --grey: #ccc;
  --red: red;
  --hover1: #12171d;
  --hover2: rgb(185, 0, 0);
}

.error {
  background: var(--blue);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    width: 350px;
    background: var(--white);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      letter-spacing: 1px;
      color: red;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .again {
      background: var(--dark);
      color: var(--white);
      border-radius: 5px;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 1rem;
      cursor: pointer;
      text-transform: capitalize;
    }

    .again:hover {
      background: var(--hover1);
      transition: background 0.3s ease;
    }
  }
}
