.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../img/back-1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.container {
  background-image: url('../../img/back-1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      letter-spacing: 2px;
      margin-bottom: 1rem;
      font-weight: 500;
      border-bottom: 2px solid gold;
      color: gold;
      padding-bottom: 0;
    }

    &-form {
      width: 100%;
      margin-top: 1rem;

      .submitBtn {
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: none;
        outline: none;
        width: 100%;
        background: gold;
        color: #000;
        border-radius: 5px;
        text-transform: capitalize;
        padding: 8px;
        letter-spacing: 1px;
        font-size: 1rem;
        cursor: pointer;
        height: 45px;
        font-weight: 500;
      }

      .submitBtn:hover {
        background: rgb(151, 129, 0);
        transition: background 0.3s ease;
      }
    }
  }
}

.loader {
  border: 10px solid #000;
  border-top: 10px solid gold;
  border-bottom: 10px solid gold;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @media screen and(max-width:640px) {
//   .container {
//     background-image: url('../../img/back-2.jpg');

//     &__inner {
//       background: rgba(255, 255, 255, 0.7);
//     }
//   }
// }
