.questions {
  background: var(--primary-color);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    width: 350px;
    background: #fff;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number-timer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;

      .number {
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.2rem;
      }

      .timer {
        padding-right: 1rem;
        background: #393e46;
        color: #fff;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;

        span {
          display: inline-block;
          width: 20px;
        }
      }
    }

    .question {
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: 400;
      padding: 0 1rem;
      font-size: 1rem;
      margin-top: 2rem;
    }

    .answers {
      padding: 1rem;
      width: 100%;

      p {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 0.9rem;
      }

      p:hover {
        background: #ccc;
        transition: all 0.3s ease;
      }

      .correct,
      .incorrect {
        position: relative;

        span {
          position: absolute;
          top: 0.3rem;
          right: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }

    .score-quit-next {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.2rem;

      .quit {
        background: red;
        color: #fff;
        text-transform: capitalize;
        padding: 0.3rem 0.8rem;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
      }

      .quit:hover {
        background: rgb(202, 0, 0);
        transition: all 0.3s ease;
      }

      .score {
        background: green;
        color: #fff;
        padding: 0.3rem 0rem;
        border-radius: 5px;
        width: 140px;
        text-align: center;

        span {
          font-weight: 500;
          letter-spacing: 1px;
        }
      }

      .next {
        background: #393e46;
        color: #fff;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        letter-spacing: 1px;
        text-transform: capitalize;
        cursor: pointer;
      }

      .next:hover {
        background: #24282e;
        transition: background 0.3s ease;
      }
    }
  }
}

.correct {
  border: 2px solid green;
  color: green;
}

.incorrect {
  border: 2px solid red;
  color: red;
}
