.number {
  position: relative;

  input {
    width: 100%;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    letter-spacing: 1px;
    height: 45px;
  }

  input:focus {
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
  }

  ::placeholder {
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 0.9rem;
  }

  input:focus::placeholder {
    color: transparent;
  }
}
