.final__score {
  background: var(--blue);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    width: 350px;
    background: var(--white);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      letter-spacing: 1px;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.2rem;
      color: var(--dark);
      padding: 1rem 2rem;
      border-radius: 5px;
    }

    .again {
      background: var(--dark);
      color: var(--white);
      border-radius: 5px;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 1rem;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .again:hover {
      background: var(--hover1);
      transition: background 0.3s ease;
    }
  }
}
